# Mark specific file as generated
Academic\040Records\040Summary_ex.html linguist-generated=true

# Mark entire directories as generated
Degree\040Detail\040Pages\040(for\040inspect)/* linguist-generated=true
Pre-Conversion\040Files/* linguist-generated=true
minor_htmls/* linguist-generated=true
updated_htmls/* linguist-generated=true
